*{margin:0;padding:0;}
.fl{float:left;}
.fr{float:right;}
ul li{list-style:none;}
a{text-decoration:none;}
img{display:block;border:0;}
.clear:after{clear:both;display:block;content:"";}


#wrap-top{background:#fafafa;border-bottom:1px solid #dfdfdf;}
#wrap-header{}
#wrap-nav{}
#wrap-banner{}
#wrap-content{border-bottom:1px solid #dfdfdf;}
#wrap-footerlink{background:#fafafa;border-bottom:1px solid #dfdfdf;}
#wrap-footer{height:104px;}

.top{width:1212px;margin:0 auto;}
.top .ul-1{}
.top .ul-1 li{float:left;height:37px;line-height:37px;}
.top .ul-1 li.last{height:12xp;width:73px;background:url(../images/index_03.gif) no-repeat right center;}
.top .ul-1 li a{font-size:12px;color:#8c8c8c;}
.top .ul-1 li.first a{border-right:1px solid #dfdfdf;padding-right:6px;height:12xp;}
.top .ul-1 li.last a{padding-left:12px;height:12xp;width:61px;}

.top .ul-2 li{float:left;height:36px;line-height:36px;}
.top .ul-2 li a{font-size:12px;color:#8c8c8c;height:12px;padding:0 12px 0 14px;border-right:1px solid #8c8c8c;}

.header{width:1212px;margin:0 auto;background:url(../images/index_07.jpg) no-repeat right 32px;}
.header .logo{width:225px;height:92px;background:url(../images/index_10.jpg) no-repeat left center;} 
.header .logo a{text-indent:-999px;display:block;}
.header .search{margin-left:336px;margin-top:32px;width:484px;height:40px;border:1px solid #dfdfdf;position:relative;}
.header .search input{float:left;}
.header .search .txt{border:0;height:40px;width:445px;border-right:1px solid #dfdfdf;font-size:16px;color:#bbb;text-indent:22px;line-height:40px;}
.header .search .sub{border:0;height:40px;width:38px;background:url(../images/index_13.gif) no-repeat center center;}
.header .search .wz a{font-size:12px;display:block;height:20px;line-height:20px;padding:0 7px;margin-right:7px;background:#f1f1f1;float:left;}
.header .search .wz{position:absolute;right:57px;top:12px;}

.nav{width:1212px;margin:0 auto;background:#323137;}
.nav ul li{float:left;}
.nav ul li a{font-size:19px;color:#fffeff;padding:0 27px;height:46px;line-height:46px;}
.nav ul .frist{width:228px;background:#ff318f;}
.nav ul .frist a{float:left;}
.nav ul .frist a img{margin-top:18px;}
.nav ul .last{background:url(../images/1.gif) no-repeat 105px 15px;}
.nav ul .second{background:url(../images/1.gif) no-repeat 65px 15px;}

.banner{width:1212px;margin:0 auto;border-bottom:1px solid #dfdfdf;}
.banner .fx{padding-left:13px;background:#f5f5f5;}
.banner .fx input{margin-right:4px;}
.banner .fx label{font-size:12px;color:#767676;margin-right:15px;height:45px;line-height:45px;}

.content{width:1212px;margin:0 auto;padding:0 0 76px 0;}
.content dl{width:227px;float:left;margin-right:19px;}
.content dl.last{margin-right:0;}
.content dl dt{border:1px solid #e2e2e2;width:225px;height:137px;}
.content dl dd{width:227px;border-bottom:1px solid #eee;}
.content dl dd h3{font-size:16px;color:#343331;height:38px;line-height:38px;margin-top:9px;}
.content dl dd .jq{}
.content dl dd .jq b{font-size:18px;color:#ff4484;float:left;height:41px;line-height:41px;}
.content dl dd .jq span{height:41px;line-height:41px;font-size:12px;color:#878787;text-decoration:line-through;float:right;}
.content dl dd p{font-size:12px;color:#878787;line-height:21px;}
.content i{font-size:12px;font-style:normal;float:left;height:36px;line-height:36px;background:url(../images/index_35.jpg) no-repeat 105px 11px;width:160px;}
.content em{font-size:12px;font-style:normal;float:right;height:36px;line-height:36px;}

.footerlink{width:1212px;margin:0 auto;padding:36px 0 51px 0;}
.footerlink ul{float:left;border-right:1px solid #dfdfdf;height:168px;text-align:center;}
.footerlink ul li{font-size:16px;height:27px;line-height:27px;color:#6d6d6d;}
.footerlink ul p{font-size:18px;line-height:54px;color:#454547}
.footerlink .ul-1{padding-right:98px;}
.footerlink .ul-2{padding:0 68px;}
.footerlink .ul-3{padding:0 62px;}
.footerlink .ul-4{padding:0 62px;}
.footerlink .ul-5{padding:0 71px;}
.footerlink .ul-5 img {margin-top:17px;}

.footer{width:1212px;margin:0 auto;}
.footer p{text-align:center;font-size:12px;color:#666;margin-top:39px;}
.footer img{margin:0 auto;margin-top:25px;}